{% extends 'partials/base.html' %}


{% block title %}| {{search_term}} history {% endblock %}

{% block content %}



<!--

<div id="{{single_chart.id}}">
</div>

<script type="text/javascript">
	var figureId = "{{single_chart.id}}";
	var json01 = {{single_chart.json|safe}};
	mpld3.draw_figure(figureId, json01);
</script>
-->


<div class="row">
	<h4 class="display-5">Top 10 Products based on Price and Reviews for "{{search_term}}"</h4>
	<div class="row">
		{% for item in top_10_result_items %}
				{% include 'partials/product_card.html' %}
    {% endfor %}
	</div>
</div>
<hr>
<div class="row">
	<h4 class="display-5">Top 10 Products based on Price for "{{search_term}}"</h4>
	<div class="row">
		{% for item in top_price_result_items %}
			{% include 'partials/product_card.html' %}
		{% endfor %}
	</div>
</div>
<hr>
<div class="row">
	<h4 class="display-5">Top 10 Products based on Customers Reviews for "{{search_term}}"</h4>
	<div class="row">
		{% for item in top_bayes_est_result_items %}
			{% include 'partials/product_card.html' %}
		{% endfor %}
	</div>
</div>
<div class="row">
	{% load compute_rating %}
	<p>{% items top_10_result_items top_price_result_items top_bayes_est_result_items as tally%}{{tally}}</p>
</div>
<!--
<div class="row">
	{% if figure != None %}
		{{ figure|safe }}
	{% else %}
		Scatter plot graph is not available. Are you connected to the internet?
	{% endif %}
</div>
-->
{% endblock %}