{% extends 'partials/base.html' %}

{% block title %}| Home page {% endblock %}

{% block historycontent %}
<!-- history -->
<div class="col-md-3">
	<div class="row">
		<div class="col-md-4">
			<h4 class="display-5">History/Recent Searches</h3>
			<ul>
				{% for item in history_items %}
				<li>
					<a href="index/history/?search_term={{item.title}}">{{item.url}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<h4 class="display-5">About TIPid</h1>
		<p>TIPid is an online decision support system that scan and rank products for you according to your search. TIPid currently supports products from the following online shopping websites; Amazon ph, Lazada ph, and Shopee.
		</p>
	</div>
</div>
{% endblock %}