{% extends 'partials/base.html' %}

{% block title %}| Searching {{search_term}} {% endblock %}

{% block content %}
<div class="row">
	<h4 class="display-5">Top 10 Products based on Price and Reviews for "{{search_term}}"</h4>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr class="table_header">
					<th>Product name</th>
					<th>Website</th>
					<th>Price (PHP)</th>
					<th>Customer Review</th>
					<th># of Reviews</th>
				</tr>
			</thead>
			<tbody>
				{% for item in top_10_result_items %}
				<tr>
					<td><a href="{{item.url}}">{{item.name}}</a></td>
					<td>{{item.website}}</td>
					<td>{{item.price}}</td>
					<td>{{item.bayes_est|floatformat:2}}</td>
					<td>{{item.reviews}}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6">No product retrieved. Come back later. Sorry for the Inconvience.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<h4 class="display-5">Top 10 Products based on Price for "{{search_term}}"</h4>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr class="table_header">
					<th>Product name</th>
					<th>Website</th>
					<th>Price (PHP)</th>
					<th>Customer Review</th>
					<th># of Reviews</th>
				</tr>
			</thead>
			<tbody>
				{% for item in top_price_result_items %}
				<tr>
					<td><a href="{{item.url}}">{{item.name}}</a></td>
					<td>{{item.website}}</td>
					<td>{{item.price}}</td>
					<td>{{item.bayes_est|floatformat:2}}</td>
					<td>{{item.reviews}}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6">No product retrieved. Come back later. Sorry for the Inconvience.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<h4 class="display-5">Top 10 Products based on Customers Reviews for "{{search_term}}"</h4>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr class="table_header">
					<th>Product name</th>
					<th>Website</th>
					<th>Price (PHP)</th>
					<th>Customer Review</th>
					<th># of Reviews</th>
				</tr>
			</thead>
			<tbody>
				{% for item in top_bayes_est_result_items %}
				<tr>
					<td><a href="{{item.url}}">{{item.name}}</a></td>
					<td>{{item.website}}</td>
					<td>{{item.price}}</td>
					<td>{{item.bayes_est|floatformat:2}}</td>
					<td>{{item.reviews}}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6">No product retrieved. Come back later. Sorry for the Inconvience.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	{{ figure|safe }}
</div>
{% endblock %}