<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">

	<title>TIPid: Online Shopping Deals Decision Support</title>

  </head>
	<body>
		<div class="container container-fluid">
	  	<header id="header" class="text-center">
				<!-- LOGO -->
					<div id="logo" alt="logo">
						<a href="/"><img src="{% static 'favicon.ico' %}" width="100 em"></a>
					</div>
					<br>
					<h3>TIPid: Online Shopping Deals Decision Support</h3>
			</header>